@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.pl-1 {
  padding-left: 4px;
}

.pl-2 {
  padding-left: 9px;
}

.feature-right {
  display: flex;
}

.feature-right h3 {
  margin-bottom: 0px;
}

.phone-feature {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.tran-bk {
  background-color: transparent;
  color: #fff;
}

.header h2 {
  font-size: 14px;
  font-family: "Noto Sans JP", sans-serif;
  /* font-weight: 300; */
  color: #333333;
}

.header-form input {
  border: none;
  background-color: #edf2f7;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  color: #6f798b;
  width: 96%;
}

.header-form {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 15px;
  position: relative;
}

.header-form .iconify {
  position: absolute;
  top: 30px;
  right: 18px;
  color: #435768;
}

.list-wrapper {
  border: 1px solid #cbd6e0;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: space-evenly;
}

.product-wrapper {
  display: flex;
  padding: 40px 20px 20px;
  justify-content: space-between;
}

.cart-body {
  background-color: #f9fafc;
}

.cart-wrapper {
  display: flex;
  padding: 40px 15px 10px 20px;
  justify-content: left;
  background-color: #fff;
  margin-bottom: 20px;
}

.cart-wrapper .ul-list h3 {
  padding-left: 5rem;
}

.ul-list h3 {
  margin-top: -5px;
  font-size: 14px;
  font-family: "Noto Sans JP", sans-serif;
  color: #212c3d;
  font-weight: 400;
}

.ul-list .fa-angle-left {
  background-color: #cbd6e0;
  padding: 3px 8px;
  border-radius: 2px;
}

.list-wrapper .line-orders {
  border-left: 0.5px solid #cbd6e0;
  border-right: 0.5px solid #cbd6e0;
  padding-left: 15px;
  padding-right: 15px;
}

.ul-list .location {
  color: #227eff;
  font-size: 16px;
  background-color: #edf2f7;
  border-radius: 50px;
  padding: 4px;
  margin-right: 6px;
}

.ul-list {
  vertical-align: middle;
  align-items: center;
  padding-top: 3px;
  position: relative;
}

.ul-list .red-badge {
  position: absolute;
  color: #fff;
  background-color: #e25959;
  border-radius: 50px;
  font-size: 9px;
  padding: 4px 8px;
  top: -7px;
  left: 10px;
  z-index: 9;
}

.ul-list .package-icon {
  color: #7e42f5;
  background-color: #edf2f7;
  padding: 4px;
  border-radius: 50px;
  margin-right: 6px;
}

.ul-list .shopping-cart {
  color: #000;
  opacity: 0.6;
  background-color: #edf2f7;
  padding: 4px;
  border-radius: 50px;
  margin-right: 6px;
}

.ul-list span {
  position: relative;
  top: -7px;
  font-size: 12px;
  font-family: "Noto Sans JP", sans-serif;
}

.ul-list .fas {
  margin-left: 7px;
  position: relative;
  top: -5px;
}

/* Header Styling Ends */
.categories p {
  color: #29394f;
  font-size: 10px;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 0px;
}

.categories {
  text-align: center;
  width: 20%;
}

.categories img {
  width: 25px;
  padding: 15px;
  border-radius: 4px;
}

.categories .img1 {
  background-color: #227eff;
}

.cat-icon {
  padding: 15px;
  border-radius: 4px;
  color: #fff;
  font-size: 30px;
}

.categories .img2 {
  background-color: #ee6f44;
}

.categories .img3 {
  background-color: #7e42f5;
}

.categories .img4 {
  background-color: #05944f;
}

.categoriesgroup {
  display: flex;
  padding-top: 30px;
  padding-bottom: 15px;
  margin: auto;
  justify-content: space-evenly;
}

/* Product List Styling */
.productlist {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-flow: wrap;
}

.productitem {
  width: 100px;
  margin-bottom: 10px;
}

.productitem a {
  text-decoration: none;
}

.productitem p {
  color: #29394f;
  font-size: 10px;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 0;
  margin-bottom: 0px;
}

.productitem img {
  width: 100px;
}

@media only screen and (max-width: 768px) {
  .productitem img {
    width: 100%;
  }
}

.productitem h3 {
  font-weight: bold;
  font-size: 12px;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #071827;
}

.productitem h4 {
  font-size: 10px;
  margin-top: 0;
  color: #29394f;
  font-weight: 200px;
  font-family: "Noto Sans JP", sans-serif;
}

/* Banner Section starts here */

.herosection h2 {
  font-weight: bold;
  font-size: 12px;
  font-family: "Noto Sans JP", sans-serif;
  color: #fff;
  width: 50%;
}

.herosection-content {
  display: flex;
  padding: 30px 15px;
  justify-content: space-between;
}

.herosection span {
  color: #ee6f44;
}

.herosectionContent {
  padding: 20px 20px;
}

.btn-contact {
  background-color: #227eff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  max-width: 50%;
  height: 35px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 7px;
  /* margin-left: 20px; */
}

@media only screen and (max-width: 768px) {
  .productlist {
    margin: 0 auto;
  }
}

/* Success Page */
.success-bk {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.success-page img {
  max-width: 50%;
  margin-top: 7rem;
}

.success-page {
  text-align: center;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.success-details h2 {
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  margin-bottom: 0px;
}

.success-details p {
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  margin-top: 5px;
}

.success-details {
  text-align: center;
}

.button-container {
  text-align: center;
  margin-top: 8rem;
}

.btn-success {
  background-color: #fff;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #227eff;
  border: none;
  border-radius: 4px;
}

.success-page h2 {
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 0px;
}

.success-page p {
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 0;
}

/* Product Screen */
.product-detail {
  background-color: #f3f4f6;
}

.button-sections,
.review {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.06);
}

.review {
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-cart {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  padding: 15px 40px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

.button-sections a {
  text-decoration: none;
}

.button-sections {
  display: flex;
  justify-content: space-evenly;
}

.cart-bk {
  background-color: #227eff;
  border: 1px solid #227eff;
}

.wishlist-bk {
  border: 1px solid #a0b1c0;
  background-color: transparent;
  color: #2e4457;
}

.review-header {
  display: flex;
  justify-content: space-between;
}

.review span {
  font-size: 14px;
  font-family: "Noto Sans JP", sans-serif;
}

.review-header button {
  justify-content: flex-end;
  color: #227eff;
  background-color: transparent;
  border: none;
}

.review p {
  color: #627483;
  font-size: 12px;
  line-height: 1.6;
}

.review .iconify-fill {
  color: #ffca42;
  font-size: 16px;
}

.review .iconify-empty {
  color: #eeeff2;
  font-size: 16px;
}

.review .icons {
  padding-top: 10px;
}

.review .text {
  color: #212c3d;
  font-size: 12px;
  padding-left: 5px;
}

.review-name {
  display: flex;
}

.review-name img {
  width: 40px;
  padding-right: 10px;
}

.review-name span {
  padding-top: 10px;
  font-size: 12px;
  color: #212c3d;
}

.product-description span {
  font-size: 14px;
  font-family: "Noto Sans JP", sans-serif;
}

.product-description {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 10px;
}

.product-description .icon {
  align-items: end;
}

.product-details {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 10px;
}

.product-details p {
  font-size: 14px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  margin-bottom: 5px;
}

.product-details h3 {
  font-size: 12px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  margin-top: 0px;
}

.product-details h4 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  font-weight: 16px;
  margin-bottom: 0px;
  color: #212c3d;
}

.product-details h4 span {
  font-weight: 12px;
  font-family: "Noto Sans JP", sans-serif;
}

.product-details span {
  font: 12px;
}

.product-image img {
  width: 100%;
  font-family: "Noto Sans JP", sans-serif;
}

.product-image {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Cart Screen */
.product-list {
  display: flex;
  justify-content: space-evenly;
}

.product-cart-list {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.06);
}

.product-cart-list .review-header {
  padding-bottom: 25px;
  padding-left: 15px;
}

.cart-sub-total .total {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.cart-sub-total a {
  text-decoration: none;
}

.cart-sub-total .total .number {
  font-weight: bold;
}

.cart-sub-total {
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 10px;
}

.cart-list {
  max-width: 80%;
  margin: auto;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.06);
  /* margin-bottom: 10px; */
}

.cart-list-wrapper {
  padding-bottom: 20px;
}

.btn-checkout {
  display: block;
  text-align: center;
  width: 90%;
  background-color: #227eff;
  padding: 20px;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.cart-list-image img {
  width: 25%;
  padding-right: 15px;
}

.cart-list-image p {
  font-weight: 14px;
  font-family: "Noto Sans JP", sans-serif;
}

.cart-list-image {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #f6f2f2;
  padding-bottom: 15px;
}

.cart-list-icon {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.delete-section {
  display: flex;
  padding-top: 5px;
}

.adjust-section .fas {
  border: 1px solid #123cd3;
  border-radius: 50px;
  padding: 7px 8px;
  color: #123cd3;
}

.adjust-section span {
  margin-left: 9px;
  margin-right: 9px;
}

.cart-list-icon span {
  font-weight: 14px;
  font-family: "Noto Sans JP", sans-serif;
}

.cart-list-icon .iconify {
  color: #e25959;
  font-size: 24px;
  padding-right: 8px;
}

/* Footer starts here */
.footer-handler p {
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 0px;
  font-size: 12px;
}

.footer-handler {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0px;
}

.footer-handler img {
  width: 25px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.fixed-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer-buy {
  border-top: 1px solid #227eff;
}

/* Footer ENds here */
